html{
    color: black;
    font-family: fantasy;
}
body{
    cursor: none;
    background-image: linear-gradient(white,black,purple,green);
}
header{
    text-align: center;
}
header h1{
    font-size: 100px;
    transition: 0.5s ease-in;
}
header h1:hover{
    font-size: 80px;
}
h2{
    font-size: 40px;
    transition: 0.5s ease-in;
    text-align: center;
}
header h2:hover{
    font-size: 30px;
}
nav a{
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #20dd02 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    padding:  30px;
}
nav a:hover{
    font-size: 25px;
    background: linear-gradient(225deg, #000000 33%, #20dd02 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
h1 img{
    width: 20%;
    transition: 1s linear;
}
h1 img:hover{
    rotate: 180deg;
    
}
nav{
    background-color: #083a00;
}
div{
    margin: 50px;
    padding: 2%;
    border-radius: 20px;
}
.castle{
        background-image:linear-gradient(45deg,gray,black);
}
.kingdom::before{
    display: block;
    content: url(https://learn.logikaschool.com/uploads/student/3115894/6815a67442e6a.png);
}
p{
    font-size: 20px;
}
.cursor{
    animation: move 1s infinite alternate;
    transition: width .3s, heigth .3s;
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 25%;
}

.castlea:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.castlea{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 439px;
    top:200px;   
}
.castleaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 130px;
    top:620px;
}
.castleaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.castleaaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.castleaaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 730px;
    top:730px;
}
.forest::before{
    display: block;
    content: url(https://learn.logikaschool.com/uploads/student/3115894/6815a6109ed8f.png);
}
.dark{
    background-image: linear-gradient(rgb(0, 83, 0), lightgreen);
}
.foresta{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 470px;
    top:480px;   
}
.foresta:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.forestaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 675px;
    top:333px;   
}
.forestaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.forestaaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 180px;
    top:520px;   
}
.forestaaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.forestaaaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 180px;
    top:250px;   
}
.forestaaaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.atoma{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 650px;
    top:600px;   
}
.atoma:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.atomaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 150px;
    top:200px;   
}
.atomaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.caes{
    background-image: linear-gradient(grey, yellow);
}
.atom::before{
    display: block;
    content: url(https://learn.logikaschool.com/uploads/student/3115894/681883261a2b3.png);
}
div{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.end::before{
    display: block;
    content: url(https://learn.logikaschool.com/uploads/student/3115894/6818874eb532a.png);
}
.endima:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.endima{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 200px;
    top:300px;   
}
.endimaa{
    font-size:40px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 650px;
    top:620px;
}
.endimaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.endimaaa:hover{
    font-size: 45px;
    background: linear-gradient(225deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
}
.endimaaa{
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000 33%, #737373 66%, #000000 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    transition: 0.2s ease-in;
    position:relative;
    left: 600px;
    top:200px;
    font-size:40px;
}
.galaxy{
    background-image: linear-gradient(grey, yellow, blue, green); 
}
footer p{
    text-align: center;
}
.castle{
    color:white;
}
